body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-52px;
  width:1160px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}

#pic_box {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1160px;
  height:647px;
}
#pic {
  border-width:0px;
  position:absolute;
  left:52px;
  top:0px;
  width:1160px;
  height:647px;
  display:flex;
}
.text1 {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}

#tit {
  border-width:0px;
  position:absolute;
  left:203px;
  top:184px;
  width:440px;
  height:126px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:108px;
  color:#FFFFFF;
}
.text2 {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}

#background_box {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:989px;
  height:406px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:35px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#background {
  border-width:0px;
  position:absolute;
  left:149px;
  top:475px;
  width:989px;
  height:406px;
  display:flex;
}

#sp {
  border-width:0px;
  position:absolute;
  left:485px;
  top:665px;
  width:134px;
  height:32px;
  display:flex;
  font-size:28px;
}

#ip {
  border-width:0px;
  position:absolute;
  left:241px;
  top:665px;
  width:134px;
  height:32px;
  display:flex;
  font-size:28px;
}

#dead {
  border-width:0px;
  position:absolute;
  left:948px;
  top:665px;
  width:134px;
  height:32px;
  display:flex;
  font-size:28px;
}

#cure {
  border-width:0px;
  position:absolute;
  left:725px;
  top:665px;
  width:134px;
  height:32px;
  display:flex;
  font-size:28px;
}

#ips {
  border-width:0px;
  position:absolute;
  left:194px;
  top:707px;
  width:228px;
  height:100px;
  display:flex;
  text-align: center;
}

#deads {
  border-width:0px;
  position:absolute;
  left:901px;
  top:707px;
  width:228px;
  height:100px;
  display:flex;
  text-align: center;
}

#cures {
  border-width:0px;
  position:absolute;
  left:693px;
  top:707px;
  width:228px;
  height:100px;
  display:flex;
  text-align: center;
}

#sps {
  border-width:0px;
  position:absolute;
  left:444px;
  top:707px;
  width:228px;
  height:100px;
  display:flex;
  text-align: center;
}

#date {
  border-width:0px;
  position:absolute;
  left:179px;
  top:500px;
  width:241px;
  height:18px;
  display:flex;
  font-size:16px;
  color:#AAAAAA;
}

#data {
  border-width:0px;
  position:absolute;
  left:460px;
  top:518px;
  width:450px;
  height:120px;
  display:flex;
  font-weight:400;
  font-style:normal;
  font-size:90px;
}
p {
    margin: 0px;
    text-rendering: optimizeLegibility;
    font-feature-settings: "kern" 1;
    -webkit-font-feature-settings: "kern";
    -moz-font-feature-settings: "kern";
    -moz-font-feature-settings: "kern=1";
    font-kerning: normal;
}
